# Python / Virtualenv
.venv/
venv/
env/
ENV/
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.sqlite3

# Django staticfiles cache
staticfiles/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
